<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Collaborators</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Antonella Manna</string>
			<key>Pic</key>
			<string>amanna</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Carlos Piñan</string>
			<key>Pic</key>
			<string>cpinan</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Eduardo Chuquilin</string>
			<key>Pic</key>
			<string>echuquilin</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Flavio Franco</string>
			<key>Pic</key>
			<string>ffranco</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Gianfranco Yosida</string>
			<key>Pic</key>
			<string>gyosida</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Gladys Cuzcano</string>
			<key>Pic</key>
			<string>gcuzcano</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Ivan Cerrate</string>
			<key>Pic</key>
			<string>icerrate</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Javier Valdivia</string>
			<key>Pic</key>
			<string>jvaldivia</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Jo Yep</string>
			<key>Pic</key>
			<string>jyep</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Jorge Benou</string>
			<key>Pic</key>
			<string>jboneu</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Karla Cerron</string>
			<key>Pic</key>
			<string>kcerron</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Kenyi Rodriguez</string>
			<key>Pic</key>
			<string>KRodriguez</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Lucia Castro</string>
			<key>Pic</key>
			<string>lcastro</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Luis Barzola</string>
			<key>Pic</key>
			<string>lbarzola</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Pedro Carrillo</string>
			<key>Pic</key>
			<string>pcarrillo</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Ricardo Herrera</string>
			<key>Pic</key>
			<string>RHerrera</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Rodrigo Gonzales</string>
			<key>Pic</key>
			<string>rgonzalez</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Sergio Infante</string>
			<key>Pic</key>
			<string>sinfante</string>
		</dict>
	</array>
</dict>
</plist>
